/*---------------------------
  deviceItem
----------------------------*/

@import "fonts.less";
@import "colours.less";

main {

  width: 95vw;
  margin: 0rem auto 0rem auto;

  .device__item {

    margin: 1.5rem auto;
    padding: 1rem;
    width: 95vw;
    max-width: 30rem;
    background-color: white;
    position: relative;
    transition: all 600ms 0ms ease-in;

    .animate {

      -webkit-transition: all 600ms 200ms;
      -moz-transition: all 600ms 200ms ease-in;
      -o-transition: all 600ms 200ms ease-in;
      transition: all 600ms 200ms ease-in;

    }

    h3 {

      .device__ip-text;

    }

  }

}
